# 1. 파이썬 시작하기

In [2]:
# 001
print('Hello World')

'Hello World'

In [4]:
# 002
print ("Mary's cosmetics")

Mary's cosmetics

In [5]:
# 003
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [7]:
# 004
print("c:\window")

c:\window

In [8]:
# 005
# \n : 줄바꿈, \t : 띄어쓰기
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [10]:
# 006
# 여러값 출력시 쉼표 구분(쉼표로 구분 시 공백이 하나 있고 다음 출력)
print ("오늘은", "일요일")

오늘은 일요일

In [11]:
# 007_오답
print ('naver;kakao;sk;samsung')

naver;kakao;sk;samsung

In [13]:
# 007_정답
# sep 함수를 이용하여 sep = ".."를 마지막에 넣으면 공백 대신 출력
print ("naver", "kakao", "sk", "samsung", sep = ";")

naver;kakao;sk;samsung

In [14]:
# 008
print ("naver", "kakao", "sk", "samsung", sep = "/")

naver/kakao/sk/samsung

In [15]:
# 009_오답
print ("first");print("second") end =(;)

SyntaxError: invalid syntax (3774388058.py, line 2)

In [17]:
# 009_정답
# ; : 한줄에 여러개의 명령 작성
# end = ("") : 줄바꿈 없이 출력 가능
print("first", end = ""); print("second")

firstsecond

In [18]:
# 010
a = 5/3
a

1.6666666666666667

In [19]:
# 010_정답
print(5/3)

1.6666666666666667

# 2. 파이썬 변수

In [21]:
# 011
samsung = 50000
samsung * 10

500000

In [22]:
# 011_정답
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [26]:
# 012_오답
|"항목"|"값"|
|"시가총액"|"298조"|
|"현재가"|"50,000원"|
|"PER"|"15.79"|

SyntaxError: invalid syntax (3226242339.py, line 2)

In [27]:
# 012_정답
# type() : 확인하는 함수

시가총액 = "298조"
현재가 = 50000
PER = 15.79

print (시가총액, type(시가총액))
print (현재가, type(현재가))
print (PER, type(PER))

298조 <class 'str'>
50000 <class 'int'>
15.79 <class 'float'>

In [28]:
# 013_오답
s = "hello"
t = "python"

print (s, "!",  t)

hello ! python

In [29]:
# 013_ 정답
# + 연산을 사용해서 공백없이 넣을 것!

s = "hello"
t = "python"

print (s+"!",  t)

hello! python

In [31]:
# 014
print (2 + 2 * 3)

8

In [36]:
# 015
a = 132
print(type(a))

<class 'int'>

In [39]:
# 016_오답
num_str = "720"
print(type(num_str))

<class 'str'>

In [40]:
# 016_정답
num_str = "720"
# 형변환
num_int = int(num_str)
print(num_int+1, type(num_int))

721 <class 'int'>

#### Q. 왜 +1을 하는가?

In [42]:
# 017
num ="100"
print (num)

100

In [43]:
# 017
num =100
result = str(num)
print (result, type(result))

100 <class 'str'>

#### Q. result의 의미는?

In [47]:
# 018
num = "15.79"
num_float = float(num)
print (num_float, type(num_float))

15.79 <class 'float'>

In [46]:
# 018 _ 정답
data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [49]:
# 019 _ 오답
year = "2020"
year_num = int(year)
print (year_num+3, type(year_num))

2023 <class 'int'>

In [50]:
# 019 _ 정답
year = "2020"
print(int(year)-3)  # 2017
print(int(year)-2)  # 2018
print(int(year)-1)  # 2019

2017
2018
2019

In [53]:
# 020
a = 48580
총금액 = a * 36
print (총금액)

1748880

# 3. 파이썬 문자열

In [56]:
# 021
letters = 'python'
letters [0], letters [2]

('p', 't')

In [58]:
# 021 _ 정답
#lang 합수 사용
lang = 'python'
print(lang[0], lang[2])

p t

In [65]:
# 022
license_plate = "24가 2210"
print (license_plate [-4:])

2210

In [66]:
# 023
string = "홀짝홀짝홀짝"
print (string[0], string[2], string[4])

홀 홀 홀

In [86]:
# 023 _ 정답
# 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋` 지정 가능
string = "홀짝홀짝홀짝"
print(string[::2])

# 짝만 나오게 하려며 시작인덱스에 1 넣기

홀홀홀

In [94]:
# 024
# 슬라이싱할 때 `시작인덱스:끝인덱스:오프셋` 지정 가능
string = "PYTHON"
print (string [::-1])

NOHTYP

In [97]:
# 025
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace ("-", " ")
print (phone_number1)

010 1111 2222

In [99]:
# 026
phone_number = "010-1111-2222"
phone_number1 = phone_number.replace ("-", "")
print (phone_number1)

01011112222

In [110]:
# 027
url = "http://sharebook.kr"
url1 = url[-2::]
print (url1)

kr

In [111]:
# 027 _ 정답
# split : 문자열로 표현된 url에서 `.`을 기준으로 분리
url = "http://sharebook.kr"
url_split = url.split('.')
print (url_split[-1])

kr

In [113]:
# 028
# 문자열은 수정할 수 없음
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [117]:
# 029
string = 'abcdfe2a354a32a'
string = string.replace ('a', 'A')
print (string)

Abcdfe2A354A32A

In [118]:
# 030
# 문자열은 변경할 수 없는 자료형이기때문에 그대로 출력
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

#### Q. # 029번은 변수에 replace 메서드를 사용해서 바뀐걸까?

In [119]:
# 031
a = "3"
b = "4"
print(a + b)

34

In [120]:
# 032
print("Hi" * 3)

HiHiHi

In [122]:
# 033
print("-" * 80)

--------------------------------------------------------------------------------

In [128]:
# 034 _ 오답
t1 = 'python'
t2 = 'java'
print((t1, t2) * 4)

('python', 'java', 'python', 'java', 'python', 'java', 'python', 'java')

In [129]:
# 034 _ 정답
t1 = 'python'
t2 = 'java'
t3 = t1 + ' ' + t2 + ' '
print (t3 * 4)

python java python java python java python java

In [132]:
# 035 _ 오답
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

{"이름" : name1, "나이" : age1}

{'이름': '김민수', '나이': 10}

In [133]:
# 035 _ 정답
# # formatting 이용 시 : 문자열은 $s 숫자열은 $d 넣기
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print ("이름: %s 나이: %d" % (name1, age1))
print ("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [134]:
# 036 _ 오답
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}" .format(name1, age1))
print("이름: {} 나이: {}" .format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [135]:
# 037 _ 오답
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [3]:
# 038 _ 오답
S1 = "5,969,782,550"
S2 = S1.replace(",", "")
S3 = int(S2)
print(S3, type(S3))

5969782550 <class 'int'>

In [144]:
# 038 _ 정답
상장주식수 = "5,969,782,550"
컴마제거 = 상장주식수.replace(",", "")
타입변환 = int(컴마제거)
print(타입변환, type(타입변환))

5969782550 <class 'int'>

#### Q. 변수명만 다른데 왜 오류인가?

In [147]:
# 039
분기 = "2020/03(E) (IFRS연결)"
print (분기 [:7])

2020/03

In [148]:
# 040
data = "   삼성전자    "
print (data.replace(" ", ""))

삼성전자

In [149]:
# 040 _ 정답
data = "   삼성전자    "
datal = data.strip()
print(datal)

삼성전자

In [154]:
# 041 _ 오답
ticker = "btc_krw"
print (ticker.upper)

<built-in method upper of str object at 0x000001CEAFEC37F0>

In [155]:
# 041 _ 정답
# 변수.함수()
ticker = "btc_krw"
ticker1 = ticker.upper()
print (ticker1)

BTC_KRW

In [156]:
# 042
ticker = "BTC_KRW"
ticker1 = ticker.lower()
print (ticker1)

btc_krw

In [158]:
# 043
a = 'hello'
a1 = a.capitalize()
print (a1)

Hello

In [159]:
# 044 _ 오답
file_name = "보고서.xlsx"
file_name = file_name.endswith()
print (file_name)

TypeError: endswith() takes at least 1 argument (0 given)

In [161]:
# 044 _ 정답
file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

#### Q. # 출력이 아닌 참/거짓에 대해서는 print 입력 생략?

In [162]:
# 045 _ 오답
file_name = "보고서.xlsx"
file_name.endswith("xlsx", "xls")

TypeError: slice indices must be integers or None or have an __index__ method

In [163]:
# 045 _ 정답
# 045 _ 오답
file_name = "보고서.xlsx"
file_name.endswith(("xlsx", "xls"))

True

#### Q. 괄호가 두번들어가는 이유?

In [164]:
# 046
file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [165]:
# 047
a = "hello world"
print (a.split(" "))

['hello', 'world']

In [166]:
a = "hello world"
a.split()

['hello', 'world']

In [168]:
# 048
ticker = "btc_krw"
ticker1 = ticker.replace ("_", " ")
ticker1.split()

['btc', 'krw']

In [169]:
# 048 _ 정답
ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [170]:
# 049
date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [173]:
# 050
data = "039490     "
data.rstrip(" ")

'039490'

# 4. 파이썬 리스트

In [179]:
# 051
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [ ]:
# 052 _ 오답
movie_rank = ["닥터 스트레인지", "스플릿", "럭키", "배트맨"]

In [177]:
# 052 _ 정답
#append 함수 사용
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append ("배트맨")
print (movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [181]:
# 053
#insert 함수 사용
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert (1, "슈퍼맨")
print (movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [182]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove ("럭키")
print (movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [186]:
# 054 _ 정답
# del 변수명 : 삭제 함수
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [187]:
# 055 _ 정답
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
print (movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [190]:
# 056
# + 연산도 가능
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang1.extend (lang2)
print (lang1)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [193]:
# 057 _ 오답
nums = [1, 2, 3, 4, 5, 6, 7]
print ("min" : nums.min(), "max" = nums.max())

SyntaxError: invalid syntax (1344466926.py, line 3)

In [195]:
# 057 _ 정답
# min과 max(괄호안에 변수)
nums = [1, 2, 3, 4, 5, 6, 7]
print ("min :", min(nums))
print ("max :", max(nums))

min : 1
max : 7

In [196]:
# 058 _ 오답
nums = [1, 2, 3, 4, 5]
nums [0:5]

[1, 2, 3, 4, 5]

In [197]:
# 058 _ 정답
nums = [1, 2, 3, 4, 5]
print (sum(nums))

15

In [199]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
print (len (cook))

12

In [200]:
# 060 _ 오답
nums = [1, 2, 3, 4, 5]
print (average(nums))

NameError: name 'average' is not defined

In [201]:
# 060 _ 정답
# 평균 : 전체 / 갯수
nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
print (average)

3.0

In [202]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
print (price [1:])

[100, 130, 140, 150, 160, 170]

In [204]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums [::2])

[1, 3, 5, 7, 9]

In [206]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print (nums [1::2])

[2, 4, 6, 8, 10]

In [210]:
# 064
# revere 함수 이용 가능
nums = [1, 2, 3, 4, 5]
nums.reverse()
print (nums)

[5, 4, 3, 2, 1]

In [213]:
# 064 _ 정답
nums = [1, 2, 3, 4, 5]
print (nums[::-1])

[5, 4, 3, 2, 1]

In [223]:
# 065 _ 오답
interest = ['삼성전자', 'LG전자', 'Naver']
del interest [1]
print (interest)

['삼성전자', 'Naver']

In [224]:
# 065 _ 정답
interest = ['삼성전자', 'LG전자', 'Naver']
print(interest[0], interest[2])

삼성전자 Naver

#### Q. del을 사용했을 때는 왜 괄호와 따옴표까지 출력되는가?

In [225]:
# 066 _ 오답
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
interest.join ()

AttributeError: 'list' object has no attribute 'join'

In [226]:
# 066 _ 정답
# '구분자'.join(리스트) : '_'.join(['a', 'b', 'c']) 라 하면 "a_b_c" 와 같은 형태로 문자열을 만들어서 반환
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print (" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [227]:
# 067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [231]:
# 068 _ 정답
# \n : 줄바꿈
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print ("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [233]:
# 069
string = "삼성전자/LG전자/Naver"
string1 = string.split("/")
print (string1)

['삼성전자', 'LG전자', 'Naver']

In [234]:
# 070
# sort : 오름차순 정리
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print (data)

[1, 2, 3, 4, 5, 9, 10]

# 5. 파이썬 튜플

In [236]:
# 071
my_variable = ()
# 튜플이 생성되었는지까지 확인해야함
print (type(my_variable))

<class 'tuple'>

In [237]:
# 072
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print (type(movie_rank))

<class 'tuple'>

In [238]:
# 073
# 튜플은 하나의 요솟값만 넣을 때 마지막에 쉼표를 넣어야함 
t = (1,)
print (type(t))

<class 'tuple'>

In [240]:
# 074 _ 정답
# 튜플은 요소값을 변경할 수 없기 때문에 에러가 나옴
t = (1, 2, 3)
t[0] = 'a'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 075

In [241]:
# 075
# 튜플은 괄호와 함께 정의해야하지만 없이도 동작
t = 1, 2, 3, 4
print (type(t))

<class 'tuple'>

In [243]:
# 076
# 튜플은 요솟값을 수정할 수 없기 때문에 다시 작성해야함
t = ('a', 'b', 'c')
t1 = ('A', 'b', 'c')
print (t1)

('A', 'b', 'c')

In [249]:
# 077 _ 정답
interest = ('삼성전자', 'LG전자', 'SK Hynix')
# list(a) : 리스트로 변경
data = list(interest)
print (type(data))

<class 'list'>

In [247]:
# 078 _ 정답
interest = ['삼성전자', 'LG전자', 'SK Hynix']
#tuple(a) : 튜플로 변경
data = tuple(interest)
print (type(data))

<class 'tuple'>

In [250]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [253]:
# 080 _ 오답
t = (1:99)
t [::2]
print (t)

SyntaxError: invalid syntax (1222928347.py, line 2)

In [254]:
# 080 _ 정답
# tuple(range(시작, 마지막, 반복)) 
t = tuple(range(2, 100, 2))
print (t)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

# 6. 파이썬 딕셔너리

In [256]:
# 081 _ 정답
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

#### Q. start expression의 기능 알아보기

In [258]:
# 082 _ 정답
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

#### Q. start expression의 기능 알아보기

In [259]:
# 083
scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [ ]:
# 084 _ 정답
# 비어있는 딕셔너리 만들 때 공백
temp = { }

In [261]:
# 085
아이스크림 = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
print (아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [262]:
# 086
아이스크림 = {"메로나" : 1000, "폴라포" : 1200, "빵빠레" : 1800}
아이스크림 ["죠스바"] = 1200
아이스크림 ["월드콘"] = 1500
print (아이스크림)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [264]:
# 087
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print ("메로나 가격: ", ice ['메로나'])

메로나 가격:  1000

In [266]:
# 088 _ 오답
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice.replace (ice[메로나], 1300)
print (ice)

AttributeError: 'dict' object has no attribute 'replace'

In [267]:
# 088 _ 정답
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

ice ['메로나'] = 1300
print (ice)

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [268]:
# 089
ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

del ice ['메로나']
print (ice)

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [270]:
# 090
# 누가바라는 키가 없음
icecream = {'폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
icecream['누가바']

KeyError: '누가바'

In [276]:
# 091
inventory = {"이름" : ["가격", "재고"], "메로나" : [300, 20], "비비빅" : [400, 3], "죠스바" : [250, 100]}
print (inventory)

{'이름': ['가격', '재고'], '메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [281]:
# 092
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print (inventory ["메로나"][0], "원")

300 원

In [282]:
# 093
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print (inventory["메로나"][1], "개")

20 개

In [284]:
# 094
inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

inventory["월드콘"] = [500, 7]
print (inventory)

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [285]:
# 095
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice_keys = icecream.keys()
print (ice_keys)

dict_keys(['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나'])

In [287]:
# 095 _ 정답
# list(a.keys())
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.keys())
print(ice)

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [288]:
# 096
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
print (ice)

[1200, 1200, 1800, 1500, 1000]

In [289]:
# 097
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}

ice = list(icecream.values())
ice_sum = sum(ice)
print (ice_sum)

6700

In [290]:
# 097 _ 정답
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
print(sum(icecream.values()))

6700

In [296]:
# 098
icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}

icecream.update(new_product)
print (icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [300]:
# 099 _ 오답
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result[0] = {keys[0]: vals[0]}
result[1] = {keys[1]: vals[1]}
result[2] = {keys[2]: vals[2]}
print (result)

{('apple', 'pear', 'peach'): (300, 250, 400), 1: {'pear': 250}, 2: {'peach': 400}, 3: {('apple', 'pear', 'peach'): (300, 250, 400)}, 0: {'apple': 300}}

In [301]:
# 099 _ 정답
keys = ("apple", "pear", "peach")
vals = (300, 250, 400)

result = dict(zip(keys, vals))
print (result)

{'apple': 300, 'pear': 250, 'peach': 400}

#### Q. dict과 zip의 기능?

In [302]:
# 100
date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]

close_table = dict(zip(date, close_price))
print (close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}