# 1. 숫자형

## 1.1정수형

In [37]:
a = 123

In [38]:
a

123

In [39]:
a = -178

In [40]:
a

-178

In [41]:
a = 0

In [42]:
a

0

## 1.2  실수형

In [44]:
a = 4.24E10 # 4.24*10승

In [45]:
a

42400000000.0

In [49]:
# 8진수(보통 10진수를 많이 사용하므로 간단히 보기)   
a = 0o177
a

127

In [51]:
type(a)
# int는 a가 정수라는 뜻

int

In [53]:
# 16진수(보통 10진수를 많이 사용하므로 간단히 보기) 
a=0x8ff
a

2303

## 1.3 사칙연산

In [58]:
a = 3
b = 4
a + b

7

In [59]:
a * b

12

In [60]:
a / b

0.75

In [61]:
# x의 y제곱 (**두번 넣으면 제곱이 됨)
a ** b

81

In [62]:
# 나눗셈의 몫 반환
7 / 4

1.75

In [63]:
7 // 4

1

In [64]:
7 % 4

3

# 2. 문자열

In [65]:
# 따옴표로 둘러싸여 있으면 모두 문자열
"Hello World"

'Hello World'

In [66]:
'Hello World'

'Hello World'

In [68]:
# 코드는 줄바꿈했는데 바꾸지 않은채로 입력할 때 """00""" 3번 넣기(작은따옴표도 가능)
"""Life is too shoot,

you need python"""

'Life is too shoot,\n\nyou need python'

In [69]:
# 문장 내 작은 떠옴표가 활용되었다면 큰따옴표로 묶기(그래서 둘다 사용가능한 것)
"Python's"

"Python's"

In [70]:
# 작은 따옴표가 중간에 들어갔는데 작은따옴표로 문자열 처리하면 어려움
'Python's'

SyntaxError: unterminated string literal (detected at line 1) (3927390519.py, line 1)

In [1]:
# 역슬래시 사용해서 작은따옴표와 큰따옴표 문자열에 포함하기
food = 'python\'s favorite food is perl'
say = "\"python is very easy.\"he says."

In [13]:
#여러줄인 문자열을 변수에 대입하고싶을 때
mutline = '''
Life is too short
You need python
'''

In [11]:
>>> food = 'Python\'s favorite food is perl'
>>> say = "\"Python is very easy.\" he says."

### 역슬래시 안되는 이유 확인!!

## 2.1 문자열 연산하기

In [2]:
head = "python"
tail = "is fun!"
head + tail

'pythonis fun!'

In [4]:
a = "python"
a * 2

'pythonpython'

In [ ]:
# 문자열 곱하기를 응용하기(확인하기)

## 2.2 문자열 길이 구하기

In [5]:
a = "life is too short"
len(a)

17

## 2.3 문자열 인덱싱과 슬라이싱

In [6]:
# 문자열 인덱싱(파이썬은 0부터 숫자를 센다)
a = "life is too short, yoy need python"
a[3]

'e'

In [7]:
# 문자열 인덱싱 활용(-는 뒤에서 부터 센다)
a = "life is too short, you need python"
a[-3]

'h'

In [8]:
# 문자열 슬라이싱(하나하나 분리하여 합치기)
a = "life is too short, yoy need python"
b = a[0] + a[1] + a[2] + a[3]
b

'life'

In [9]:
# : 0~4 앞까지 뽑아낸다는 뜻(0:3으로 하면 lif가 됨 -> 마지막은 포함이 되는 것이 아니라 그 앞까지 보여준다는 것을 의미)
a = "life is too short, yoy need python"
a[0:4]

'life'

In [11]:
# 끝번호를 생략하면 시작번호부터 문자열 끝까지 뽑아냄(반대도 마찬가지, -도 사용가능)
a = "life is too short, you need python"
a[19:]

'you need python'

In [12]:
# 슬라이싱으로 문자열 나누기
a = "20231111Rainy"
date = a[:8]
weather = a[8:]
date

'20231111'

In [13]:
weather

'Rainy'

In [15]:
# 문자열 변경(이렇게 하면 오류 발생이 당연-> 슬라이싱 이용해서 작업)
a = "pithon"
a[1]

'i'

In [16]:
a[1] = y

NameError: name 'y' is not defined

In [17]:
a = "Pithon"
a[:1]

'P'

In [18]:
a[2:]

'thon'

In [19]:
a[:1] + 'y' +a[2:]

'Python'

## 2.4 문자열 포메팅

In [20]:
# 문자열 안에 특정한 값을 바꿔야할 경우에 사용
# 숫자, 문자열 바로대입(% 뒤에 작성 -> 문자열은 '',"" 사용해서 넣기)
"I eat %d apples." % 3

'I eat 3 apples.'

In [22]:
# 숫자값을 나타내는 변수로 대입
number = 3
"I eat %d apples." % number

'I eat 3 apples.'

In [23]:
# 2개 이상의 값 변수로 대입
>>> number = 10
>>> day = "three"
>>> "I ate %d apples. so I was sick for %s days." % (number, day)
'I ate 10 apples. so I was sick for three days.'

'I ate 10 apples. so I was sick for three days.'

## 2.5 문자열 포맷 코드

# 3. 리스트 자료형

In [24]:
# 리스트명 = [요소1, 2, 3...]
odd = [1, 3, 5, 7, 9]

# 비어있는 리스트는 a = list() 로 생성 가능

## 3.1 리스트 인덱싱과 슬라이싱

In [26]:
a = [1, 2, 3]
a

[1, 2, 3]

In [27]:
# 리스트의 첫 번째 요소 값
a[0]

1

In [29]:
# 리스트 요소 더한 값
a[0] + a[2]

4

In [30]:
# 리스트 내 숫자와 문자 결합
a = [1, 2, 3,['a', 'b', 'c']]
a[0]

1

In [31]:
# []안에 있는 문자열은 하나의 문자열로 인식
a[-1]

['a', 'b', 'c']

In [32]:
a[3]

['a', 'b', 'c']

In [33]:
#[] 내 문자열 요소값 따로 분리해 추출(요소 안에 요소 추출)
a[-1][0]

'a'

## 3.2 리스트의 슬라이싱

In [35]:
# 문자열에서 사용했던 것과 동일
>>> a = [1, 2, 3, 4, 5]
>>> a[0:2]

[1, 2]

In [36]:
>>> a = [1, 2, 3, 4, 5]
>>> b = a[:2]
>>> c = a[2:]
>>> b

[1, 2]

In [39]:
# 중첩된 리스트에서 슬라이싱
>>> a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]
>>> a[2:5]

[3, ['a', 'b', 'c'], 4]

In [41]:
>>> a[3][:2]

['a', 'b']

## 3.3 리스트 연산하기

In [44]:
# 리스트 더하기
a = [1, 2, 3]
b = [4, 5, 6]
a + b

[1, 2, 3, 4, 5, 6]

In [46]:
# 리스트 반복하기
a = [1, 2, 3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [48]:
# 리스트 길이 구하기
a = [1, 2, 3]
len(a)

3

In [50]:
# 리스트에 문자열 붙여서 출력(숫자열과 문자열을 만들고 싶을 때 str 함수를 붙여야 함)
a = [1, 2, 3]
str(a[2]) + "hi"

'3hi'

## 3.4 리스트 수정과 삭제

In [51]:
# 값 수정하기
a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [53]:
# del 함수 사용해서 리스트 요소 삭제
a = [1, 2, 3]
del a[1]
a

[1, 3]

In [55]:
# 리스트 요소 여러개 삭제
a = [1, 2, 3, 4, 5]
del a[2:]
a

[1, 2]

## 3.5 리스트 관련 함수

In [56]:
# append : 덧붙이다, 첨부하다 -> 리스트의 맨 마지막에 X를 추가하는 함수
a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [57]:
# append 리스트에 자료형 추가 시
a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

------------

In [59]:
# sort : 순서대로 정렬(숫자,문자 가능)
a = [1, 2, 3, 5, 8, 7, 6]
a.sort()
a

[1, 2, 3, 5, 6, 7, 8]

------------------------

In [61]:
# reverse : 역순으로 뒤집기
a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

------------------------

In [62]:
# index : 반환
a = [1, 2, 3]
a.index(3)
# 숫자3의 위치는 2라는 것을 의미

2

------------

In [63]:
#insert(a,b) : 리스트의 a번째 위치에 b를 삽입하는 함수(파이썬은 0부터 센다는 것을 반드시 기억)
a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [64]:
a.insert(3, 5)
a

[4, 1, 2, 5, 3]

----------------

In [65]:
# remove : remove(X) X의 값을 삭제
a = [1, 2, 3]
a.remove(3)
a

[1, 2]

---------------

In [66]:
# pop() 리스트의 맨 마지막 요소 리턴하고 그 요소는 삭제
a = [1, 2, 3]
a.pop()

3

In [67]:
a

[1, 2]

In [71]:
a = [1, 2, 3]
a.pop(1)

2

In [72]:
a

[1, 3]

----------

In [73]:
# count(X) : 리스트 안에 X 가 몇개 ㅇ쓴지 조사하여 개수 리턴
a = [1, 2, 3, 1]
a.count(1)

2

-------------

In [74]:
# extecd(X) : X에는 리스트만 올 수 있으며 원래의 a리스트에 x리스트를 더함
a = [1, 2, 3]
a.extend([4, 5])
a

[1, 2, 3, 4, 5]

In [75]:
b = [6, 7]
a.extend (b)
a

[1, 2, 3, 4, 5, 6, 7]

# 4. 튜플 자료형

In [77]:
# 리스트는 [], 튜플은 ()
# 리스트는 요솟값의 생성, 삭제, 수정이 가능하지만 튜플은 요솟값을 바꿀 수 없음
# 요소값이 절대적으로 바뀌지않아야한다면 튜플을 이용
# 한개의 요소값만 사용 시 , 쉼표 넣어주기

t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

In [78]:
#튜플 요소값 삭제 시, 오류가 뜸
>>> t1 = (1, 2, 'a', 'b')
>>> del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [79]:
# 튜플 요솟값 변경 시, 오류
>>> t1 = (1, 2, 'a', 'b')
>>> t1[0] = 'c'

TypeError: 'tuple' object does not support item assignment

## 4.1 튜플 다루기

In [80]:
# 인덱싱하기
t1 = (1, 2, 'a', 'b')
t1[0]

1

In [81]:
# 슬라이싱하기
t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [85]:
#더하기
t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [86]:
# 곱하기
t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [87]:
t1 = (1, 2, 'a', 'b')
len(t1)

4

# 5. 딕셔너리 자료형

In [2]:
# 사전과 같은 형태
# {key1: vale1, key2: value2}
# 리스트나 문자열로 작성하기 어렵고 각각 특성을 표현할 때 사용

#딕셔너리 dic의 정보
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}

In [3]:
a = {1: 'hi'}

In [4]:
a = {'a': [1, 2, 3]}

In [8]:
# 딕셔너리 요소 삭제하기 : del a[key]
del a['a']
a

{}

## 5.1 key 사용해서 value 얻기

In [9]:
#딕셔너리이름 = [key] : value가 도출
grade = {'pey': 10, 'jullient': 99}
grade['pey']

10

In [11]:
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}
dic ['name']

'pay'

---------------

In [12]:
#딕셔너리 만들 때 주의사항
# 중복되는 key값을 설정해 놓으면 하나를 제외한 나머지는 모두 무시
>>> a = {1:'a', 1:'b'}
>>> a

SyntaxError: invalid syntax (2486770792.py, line 3)

In [13]:
#key에 리스트를 작성할 수 없음(리스트는 변하는 값이기 때문)
a = {[1,2] : 'hi'}

TypeError: unhashable type: 'list'

-----

## 5.1 Key 리스트 만들기

In [16]:
#딕셔너리의 keys만 출력
# 리스트 고유의 append, insert, pop, remove, sort 함수는 수행할 수 없음
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}
dic.keys()

dict_keys(['name', 'phone', 'birth'])

In [17]:
list(dic.keys())

['name', 'phone', 'birth']

## 5.2 value 리스트 만들기, 쌍으로 얻기

In [20]:
# 리스트 만들기
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}
dic.values()

dict_values(['pay', '010-0000-0000', '1111'])

In [21]:
#key, value 쌍으로 얻기
dic.items()

dict_items([('name', 'pay'), ('phone', '010-0000-0000'), ('birth', '1111')])

In [22]:
#쌍으로 모두 지우기
dic.clear()
a

{}

## 5.3 key로 Value 얻기

In [24]:
#a.get(key)
#a[key]는 키가 존재하지 않을 경우 오류로 뜨고 a.get()을 사용하면 none(거짓)으로 출력
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}
dic.get('name')

'pay'

## 5.4 해당 key가 딕셔너리 안에 있는지 조사하기

In [25]:
# key in 딕셔너리 : ture와 false로 알려줌
dic = {'name': 'pay', 'phone': '010-0000-0000', 'birth': '1111'}
'name' in dic

True

# 6. 집합 자료형

In [26]:
# 집합(set)은 집합에 관련된 것을 쉽게 처리하기 위해 만든 자료형
>>> s1 = set([1, 2, 3])
>>> s1

{1, 2, 3}

In [30]:
# 집합자료형은 중복을 허용하지 않고 순서가 없음
# 중복을 제거하기 위한 필터로 종종 사용
s2 = set("Hello")
s2

{'H', 'e', 'l', 'o'}

In [32]:
# 리스트나 튜플은 순서가 있기 때문에 인덱싱을 통해 요솟값을 얻을 수 있지만, set자료형은 순서가 없기 때문에 인덱싱을 통해 요솟값 출력 안됨
# 인덱싱으로 접근 시, 리스트나 튜플로 변환 후 가능
s1 = set([1, 2, 3])
l1 = list(s1)
l1

[1, 2, 3]

In [33]:
t1 = tuple(s1)
t1

(1, 2, 3)

In [34]:
t1[0]

1

## 6.1 교집합

In [35]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 & s2

{4, 5, 6}

In [36]:
# a.intersection(b) 함수를 사용해도 교집합 출력 가능 
s1.intersection(s2)

{4, 5, 6}

## 6.2 합집합

In [38]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 | s2

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [39]:
# a.union(b) 함수 사용 가능
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

## 6.3 차집합

In [40]:
s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])
s1 - s2

{1, 2, 3}

In [41]:
s2 - s1

{7, 8, 9}

In [43]:
#a.difference(b) 함수 사용 가능
s1.difference(s2)

{1, 2, 3}

## 6.4 집합자료형 관련 함수

In [45]:
 # 값 1개 추가하기 : add
s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [46]:
# 값 여러개 추가하기 : update
s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [47]:
# 특정 값 제거하기 : remove
s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

# 7. 불자료형

In [49]:
# 참과 거짓을 나타내는 자료형
# type(x)는 자료형을 확인하는 함수
a = True
b = False
type(a)

bool

In [50]:
type(b)

bool

In [52]:
# 불자료형은 조건값의 리턴값으로 사용
# 1과 1이 같은가라는 조건문 내용
1 == 1

True

In [53]:
2 > 1

True

In [54]:
2 < 1

False

## 7.1 불연산

In [56]:
# bool 함수 사용하여 참, 거짓 식별
bool('python')
# 문자열이 비어있지 않기 때문에 ture

True

In [16]:
# 문자열이 비어있으면 false
bool('')

False

In [57]:
bool([1, 2, 3])

True

In [58]:
bool([])

False

In [59]:
bool(0)

False

In [60]:
bool(3)

True

# 8. 변수

In [62]:
# 변수란 a, b, c와 같이 변수이름 = 값 에서의 변수
>>> a = 1
>>> b = "python"
>>> c = [1, 2, 3]

## 8.1 리스트 복사하고자 할 때

In [64]:
# 변수 a를 복사해 b로 붙임
>>> a = [1, 2, 3]
>>> b = a
id(a)

1252735193344

In [65]:
id(b)

1252735193344

In [66]:
#a와 b가 동일한지 확인
a is b

True

In [68]:
# a를 바꾸면 b도 똑같이 변경됨
a[1] = 4
a

[1, 4, 3]

In [69]:
b

[1, 4, 3]

----------

In [71]:
# [:] 이용해서 리스트 전체를 복사하면 요솟값을 바꿔도 다른 변수는 변하지 않음
a = [1, 2, 3,]
b = a[:]
a[1] = 4
a

[1, 4, 3]

In [72]:
b

[1, 2, 3]

------

In [77]:
# copy 모듈 이용 
from copy import copy
a = [1, 2, 3]
b = copy(a)

# b = copy(a)는 b = a[:]와 동일하기 때문에 변하지 않아 일치하지 않음

b is a

False

In [78]:
# 리스트 자료형 함수 copy를 사용해도 같음
>>> a = [1, 2, 3]
>>> b = a.copy()
>>> b is a

False

## 8.2 변수를 만드는 방법

In [ ]:
# 튜플로 a, b, 값에 대입 가능 (튜플은 괄호 생략 가능)
a, b = ('python', 'life')

In [ ]:
# 여러개의 변수에 같은 값 대입 가능
a = b = 'python'

In [80]:
# 변수값 바꾸기
a = 3
b = 5
a, b = b, a
a

5